# To get started with an '.envrc' for your project see https://github.com/direnv/direnv/wiki
#
# For python and pyenv you can use e.g.
#
# layout pyenv 3.12.4

layout uv

# for todo.sh
#export TODO_DIR=.todo
#export TODOTXT_CFG_FILE=${TODO_DIR}/todo.cfg
#PATH_add .bin
